vsproject/x64/Debug/*
vsproject/x64/Release/*
vsproject/packages/*
vsproject/Debug/*
vsproject/Release/*
vsproject/ipch/*
vsproject/.vs/*
vsproject/.nuget/*
*.obj
*.suo
*.db
*.tlog
*.pdb
*.ilk
*.idb
*.log
*.ipch
*.opendb
